/* normalitzem css */
@import "modern-normalize";
root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* importem fonts */
/* @font-face { */
/*     font-family: 'Norse'; */
/*     src: url('fonts/Norse-Bold.woff2') format('woff2'); */
/*     font-weight: bold; */
/*     font-style: normal; */
/*     font-display: swap; */
/* } */

/* disseny de la pàgina */
* {

 border: 1px solid red;

}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 7fr;
}

/*---------------------------------------------- header style-------------------------------------------- */
.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 20px;
}


.statusBar{
    display: grid;
    grid-template-columns: 50px 6fr 50px 50px 1fr ;
    align-items: center;
    /* justify-items: center; */
    gap: 10px;
    padding-bottom: 10px;
}

.search{
    width: 500px;
}

.user{
    display: grid;
    grid-template-columns: 80px 4fr 1fr 1fr 1fr;
    gap:10px;
}


/*-------------------------------------------------- side bar style -------------------------------------------------- */

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 10px;    
}
.sidebar > .principal{
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 5px;
    align-items: center;
    padding-bottom: 10px;
}

.sidebar > .title{
    padding-block: 10px;
}

.sidebar > .secondary{
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 5px;
    align-items: center;

}
/*-------------------------------------------------- contet style --------------------------------------------------*/
.content{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px;
    grid-auto-rows: 225px;
    gap:20px;
    padding:20px;
}
.projectsName{
    grid-column: 1 / 3;
}

.card{
    display: grid;
    grid-template-columns: 1fr 20px 20px 20px;
    grid-template-rows: 20px 1fr 20px;
    gap: 5px;
}

.cardName{
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}

.text{
    grid-column: 1 / 6;
    grid-row: 2 / 3;
}

.star{
    grid-column: 2 / 3;
}


.announcements{
    /* display: grid; */
    padding-top: 10px;
    padding-bottom: 20px;
}
.contentSidebar{
    padding: 20px;
}

.trending{
    padding-top: 10px;
}

.trendingCard{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 1fr;
        /* gap: 10px; */
    align-content: center;
}

.trendingImage{
    grid-column: 1 / 2;
    grid-row:1 / 3;
    justify-self: center;
    align-self: center;
        
}


